@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.618;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-size: 4rem;
}

.view {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
}

.page-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
